.header {

    grid-column: full-start/ -4;
    background-image: linear-gradient(rgba($color-secondary, .93),rgba($color-secondary, .93)), url('../img/hero.jpeg');
     background-size: cover;
     background-position: center;
    
     display: grid;

     grid-template-columns:  minmax(min-content,max-content);
     grid-template-rows: 1fr min-content minmax(6rem, fit-content) 1fr;
     justify-content: center;
     gap: 1.5rem;
     padding: 4rem;
     @media only screen and (max-width:$mid){ 
      grid-column: full-start/ full-end;
     }
     
    &__logo {
        height: 3rem;
     justify-self: center;
     }
     &__seenon-text{
        color: $color-grey-light-1;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        gap: 1rem;
        
        &::after,&::before {
          content: '';
          display: block;
          background: rgba($color-grey-light-1,0.4);
          height: .7px;
        
         
        }
        &::after {
          grid-column: 3/4;
        }
        &::before {
          grid-column: 1/2;
        }
        span {
          grid-column: 2/3;
          text-align: center;
          opacity: .5;
          font-family: $font-display;
          font-size: 1.3rem;
          font-weight: 400;
         
        }
     }
     &__seenon-logos {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 6rem;
          padding-inline: 2rem;
          justify-content: center;
         
          img {
            height: 2rem;
            
            opacity: .7;
          }
     }
     &__btn {
          align-self: center;
          justify-self: start;
     }
}