/** @format */

.realtors {
	background-color: $color-secondary;
	grid-column: -4/-1;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, max-content);
	justify-items: center;
	align-content: center;
	gap: 2.5rem;
	@media only screen and (max-width:$mid){ 
		grid-column: full-start/ full-end;
		grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	   grid-template-rows: max-content;
        padding: 1rem 2rem;
	   .heading-3{
		display: none;
	   }

	}
}
.realtor {
	display: grid;
	grid-template-columns: 6rem 1fr;
	grid-template-rows: repeat(4, 1fr);
	color: $color-grey-light-1;
    align-items: center;
    gap: 0 1.25rem;

	&__photo {
		grid-area: 1/ 1 / -1 / 2;
		img {
			width: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
		}
	}
	&__name {
		grid-area: 2/ 2 / 3 / -1;
        text-transform: capitalize;
        font-family: $font-display;
        font-size: 1.5rem;
	}

	&__sale {
		grid-area: 3/ 2 / 4 / -1;
		opacity: 0.6;
		align-self: start;
        font-size: 1.1rem;

	}
}
